:root {
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

/* #root {
  display: flex;
  align-items: center;
  justify-content: center;
} */

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(29, 25, 66);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(29, 25, 66);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(29, 25, 66);
}

.container {
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
